page-extra {
           //Background image
           .bg-image {
            background-image: url('../assets/imgs/tausta.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            }
         // centering content
            .text {
                text-align: center;
            }
}
